body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171a21 !important;
  font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
.defaultWidth {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.defaultFlex {
  display: flex;
}
.flexColumn {
  flex-direction: column;
}
.flexJustifyCenter {
  justify-content: center;
}
.flexJustifyStart {
  justify-content: start;
}
.flexJustifyEnd {
  justify-content: end;
}
.flexJustifyBetween {
  justify-content: space-between;
}
.flexJustifyAround {
  justify-content: space-around;
}
.flexAlignCenter {
  align-items: center;
}
.flexAlignStart {
  align-items: start;
}
.flexAlignEnd {
  align-items: end;
}
.defaultGrid {
  display: grid;
}
.gridTemplateColumns {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gridTemplateColumnTwo {
  grid-template-columns: repeat(2, 1fr);
}
.alignSelfCenter {
  align-self: center;
}
.justifySelfCenter {
  justify-self: center;
}
.justifySelfEnd {
  justify-self: end;
}

.positionAbsolute {
  position: absolute;
}
.positionRelative {
  position: relative;
}
/* gaps */
.gap-xl {
  gap: 10rem;
}
.gap-l {
  gap: 8rem;
}
.gap-lm {
  gap: 6rem;
}
.gap-m {
  gap: 4rem;
}
.gap-sm {
  gap: 2rem;
}
.gap-s {
  gap: 1rem;
}

h1 {
  font-size: 3.2rem;
}
ul,
ol,
dl {
  list-style: none;
}
li a {
  color: white;
}
a,
p,
button {
  text-decoration: none;
  font-size: 1.8rem;
}
.paginationLink {
  color: lightblue !important;
}

button {
  border: 1px solid white;
}
.noShow {
  display: none !important;
}
.white {
  color: white !important;
}
label {
  color: white;
}
