body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171a21;
  font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
.defaultWidth {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.defaultFlex {
  display: flex;
}
.flexColumn {
  flex-direction: column;
}
.flexJustifyCenter {
  justify-content: center;
}
.flexJustifyBetween {
  justify-content: space-between;
}
.flexJustifyAround {
  justify-content: space-around;
}
.flexAlignCenter {
  align-items: center;
}
.flexAlignTop {
  align-items: top;
}
.flexAlignBottom {
  align-items: bottom;
}
