nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  color: #c7d5e0;

  p {
    font-size: 2.2rem;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
  }

  div {
    position: relative;
    input {
      max-width: 50rem !important;
      padding: 0.75rem 1rem;
    }
    .resultSuggestContainer {
      max-width: 52rem !important;
      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translateX(-50%);

      div {
        background-color: rgba(0, 0, 0, 0.7);
        a {
          text-decoration: none;
          gap: 1rem;

          img {
            width: 10rem;
            height: 5rem;
            object-fit: contain;
          }
          p {
            margin: 0;
            color: white;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
