.productContainer {
  max-width: 130rem !important;
  margin: 10rem auto;
  background-image: url("../../public/images/Vector.webp");
  .productLeft,
  .productRight {
    width: 100%;
    max-width: 50rem;
  }
  .productLeft,
  .productRight {
    p,
    button {
      font-size: 1.8rem;
      word-wrap: break-word;
    }
    button {
      padding: 0.5rem 1rem;
    }
  }
  .productLeft img {
    width: 100%;
    max-width: 45rem;
  }

  p {
    color: white;
  }
}

.reviewSection {
  width: 100%;
  max-width: 50rem;
  h2 {
    font-size: 4.6rem;
  }
  div {
    border: 1px solid white;
    padding: 1rem;
  }
}
