.mainProfile {
  margin: 10rem auto;
  .purchaseHistoryContainer {
    gap: 1rem;
    img {
      width: 100%;
      max-width: 15rem;
    }
  }

  h1,
  h2,
  p {
    color: white;
  }
  button {
    margin: 0 0.5rem;
  }
}
