$primaryColor: #171a21;

.storeContainer {
  gap: 0.5rem;
  margin: 5rem auto;

  .storeProductContainer {
    width: 100%;
    border: 1px solid white;
    img {
      width: 100%;
    }
    div {
      border: 1px solid white;

      p {
        color: white;
        font-size: 1.6rem;
      }
      .price {
        left: 5px;
        top: -10px;
        padding: 0.25rem 0.5rem;
        background-color: black;
      }
    }
  }
}

.sortMenuContainer {
  position: relative;
  top: 4rem;
  .sortBtn,
  .sortOutBtn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  menu {
    p {
      font-size: 1.8rem;
      color: white;
    }
    .categoriesMenu,
    .devicesMenu,
    .priceRange {
      width: 100%;
      max-width: 30rem;
      gap: 1rem;

      label {
        color: white;
        font-size: 1.7rem;
      }
    }
  }
  .sortOutBtn {
    margin-top: 1rem;
  }
}

.sortProductContainer {
  transition: all 1s;
  background-color: $primaryColor;
}
.load {
  transform: translateX(0%);
}
.unLoad {
  transform: translateX(-100%);
}
